@{
    ViewBag.Title = "Bartender App";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .jumbotron { 
        background-color: #ADD8E6; /* Orange */
        color: #ffffff;
    }
    .glyphicon 
    {
        font-size: 50px;
    }
    </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to the Bartender app!</h1>
  <p>Please click on the Bar Menu link at the top to browse and order drinks!</p>
</div>

<center><span class="glyphicon glyphicon-glass"></span></center>

</body>
</html>